.sidebar{
  width: 30rem;
  height: 95%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.sidebar-heading{
  font-size: 5rem;
  font-weight: 500;
  text-align: center;
  border-bottom: 0.2rem solid grey;
  padding: 1rem 0rem 1rem 0rem;
  margin-bottom: 1rem;
  color: white;
}

.sidebarWar{
  font-weight: 600;
  color: red;
}

.nodesIndexingPara{
  color: white;
}