.App{
  display: flex;
  height: 100vh;
  width: 100vw;
  /* background-color: rgba(0, 0, 0, 100); */
  justify-content: center;
  align-items: center;
  /* border: 0.1rem solid red; */
}

.output{
  /* border: 0.1rem solid red; */
  margin-right: 2rem;
  min-width: 32rem;
  /* padding: 1rem; */
  height: 95%;
}

.output-heading{
  color: White;
  font-size: 5rem;
  text-align: center;
  font-weight: 500;
  border-bottom: 0.2rem solid grey;
  padding: 1rem 0rem 1rem 0rem;
  margin-bottom: 1rem;
}

.output-heading1{
  font-weight: 500;
}

.steps{
  /* border: 0.1rem solid red; */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  border-bottom: 0.2rem solid grey;
  padding-bottom: 1rem;
}

.step-show{
  display: flex;
  align-items: center;
  font-weight: 600;
}

.steps input{
  margin: 1rem;
  border: none;
  width: 3rem;
  height: 4rem;
  text-align: center;
  border-radius: 1rem;
  font-weight: 600;
  padding: 0rem 1rem;
}

.steps input::-webkit-inner-spin-button,
.steps input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.step-btn{
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  background-color: rgb(30, 102, 217);
  color: white;
  margin: 1rem 0;
}

.step-btn:hover{
  background-color: rgb(77, 124, 217);
}

.step-btn-disabled{
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  margin: 1rem 0;
  background-color: rgb(75, 75, 75);
  color: white;
  cursor: not-allowed;
  margin: 1rem 0;
}